.animate {
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
  animation-fill-mode: backwards;
}

/* Fading */
.fade-in {
  animation-name: fade-in;
  animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
  will-change: opacity;
}
@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Scaling */
.scaling {
  animation: scaling 4s 0.25s cubic-bezier(0, 0.71, 0.4, 0.97) forwards;
  will-change: transform;
}
@keyframes scaling {
  from {
    transform: scale(1.25);
  }
  to {
    transform: scale(1);
  }
}

/* Clip */
.clip {
  animation: clip 1.25s cubic-bezier(0.29, 0.8, 0.8, 0.98);
  will-change: clip-path;
}
@keyframes clip {
  from {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/* Zoom */
.zoom {
  animation-name: animate-zoom;
  animation-timing-function: ease;
  will-change: transform, opacity;
}
@keyframes animate-zoom {
  from {transform:scale(0); opacity: 0;}
  to {transform:scale(1); opacity: 1;}
}

/* Spin */
.spin {
  animation: spinner 2s linear infinite;
}
@keyframes spinner {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}