@import "utils";
@import "animations";

.icon-parking {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon-room {
  fill-rule: evenodd;
  clip-rule: evenodd;
}

@layer {
  .hero {
    @apply grid relative place-items-center overflow-hidden h-screen;

    animation: clip 1.25s cubic-bezier(0.29, 0.8, 0.8, 0.98);
    will-change: clip-path;

    &-image, &-content {
      @apply self-center;

      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    // Images
    &-image {
      @apply grid fixed z-0 grid-cols-[1fr] grid-rows-[1fr] place-items-center;

      animation: fade-in 0.75s linear;
      will-change: opacity;

      // Smoothing background gradient
      @if ($hero-bg-mix) {
        &::before {
          @apply content-[""] block absolute z-10 -inset-[10%] bg-blend-screen;

          background: $hero-bg-mix;
        }
      }

      & picture {
        @apply flex h-screen w-screen;

        animation: scaling 4s 0.25s cubic-bezier(0, 0.71, 0.4, 0.97) forwards;
        will-change: transform;
      }

      & img {
        @apply block object-cover object-right h-auto w-full;
      }
    }

    &-content {
      @apply absolute left-[10%] text-white opacity-0 w-1/3;

      animation: fade-in 0.75s 1.5s linear forwards;
    }
  }

  .property-about {
    .features > div {
      @apply flex items-center py-5;

      > div {
        @apply pl-6 w-full;

        > span {
          @apply text-gray-400;
        }
      }
    }

    .show-on-scroll {
      opacity: 0;
      transform: translateY(4em) rotateZ(-6deg);
      transition: transform 2s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out;
      will-change: transform, opacity;

      &.is-visible {
        opacity: 1;
        transform: rotateZ(0);
      }
    }
  }

  .property-features {
    .tabs {
      @apply h-full;
    }

    .show-on-scroll {
      opacity: 0;
      transform: translateY(4em) rotateZ(6deg);
      transition: transform 2s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out;
      will-change: transform, opacity;

      &.is-visible {
        opacity: 1;
        transform: rotateZ(0);
      }
    }
  }

  .property-gallery {
    div.filter-item {
      @apply transition;
      border-bottom: 2px solid !important;
      border-color: transparent !important;

      &:hover {
        @apply bg-gray-200;
      }

      &.active-filter {
        border-color: $gray-300 !important;
      }
    }
  }

  .main-content > section {
    &:nth-child(odd) {
      @apply relative;
      background: radial-gradient(circle, rgb(194, 192, 192) 0%, rgba(239, 239, 239, 0.95) 35%, rgba(255, 255, 255, 1) 100%);
    }

    &:nth-child(even) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("../images/bg_2.jpg");
      @apply bg-center bg-no-repeat bg-cover relative;
    }

    &:first-child, &.property-visit {
      background: unset;
    }
  }
}