@import "utils";

.icon-parking {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon-room {
  fill-rule:evenodd;
  clip-rule:evenodd;
}

@layer {

  .main-content {
    @apply mt-14;
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/Hero_1.jpg");
    @apply h-[95vh] bg-center bg-no-repeat bg-cover relative bg-fixed;
  }

  .hero-content {
    @apply h-full w-1/2 m-auto ml-10pct grid grid-cols-1 grid-rows-1 py-[6%] pr-0 pl-[10%];

    .hero-content-box {
      @apply w-[60%] col-start-1 row-start-1 bg-gray-800/25;
    }

    .hero-content-text {
      @apply text-white col-start-1 row-start-1 my-auto;
    }
  }

  .property-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("../images/bg_2.jpg");
    @apply bg-center bg-no-repeat bg-cover relative;

    .features > div {
      @apply flex items-center py-5;

      > div {
        @apply pl-6 w-full;

        > span {
          @apply text-gray-400;
        }
      }
    }
  }

  .property-features {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("../images/bg_2.jpg");
    @apply bg-center bg-no-repeat bg-cover relative;

    .tabs {
      @apply h-full;
    }
  }
}