@import "utils";

.tabs {
  @apply p-6 glassmorphism rounded-xl;

  .tabs_header {
    @apply flex justify-between w-full flex-wrap flex-shrink-0 flex-grow-0;

    > li {
      @apply px-4 py-2 transition;
      border-bottom: 2px solid !important;
      border-color: transparent !important;

      &:hover {
        @apply bg-tertiary;
      }

      &.tab_active {
        border-color: $blue_1 !important;
      }
    }
  }

  .tab_content > div {
    @apply pt-4;
  }

  .tabs_button {
    @apply text-sm xl:text-base;
  }
}